hotspot.log
*.iml
*.ipr
*.iws
velocity.log
target/
classes/
/var
pom.xml.versionsBackup
test-output/
gui/dependency-reduced-pom.xml
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
test_images/
.externalToolBuilders
*~
maven-settings.xml